<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{date}} ago by {{author}}  {{#if isCommentAuthor}}
        | <a href="#/delete/comment/{{_id}}/post/{{postId}}" class="deleteLink">delete</a>
    {{/if}}
    </div>
</article>