<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="post" action="/user/register">
            <fieldset>
                <legend>Register</legend>
                {{#if error}}
                    <div class="alert alert-danger alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{error}}
                    </div>
                {{/if}}
                <div class="alert alert-warning alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    All fields are required.
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail">Email</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email"
                               required value={{email}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFullName">Full Name</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" required
                               required name="fullName" value={{fullName}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputCity">City</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputCity" placeholder="City" required name="city"
                               value={{city}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputCountry">Country</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputCountry" placeholder="Country" required
                               name="country" value={{country}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputImage">Profile Picture</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputImage" placeholder="Profile Picture URL"
                               required name="profilePic" value={{profilePic}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputBirth">Birth Date</label>
                    <div class="col-sm-4">
                        <input type="date" id="birthDate" class="form-control" id="inputBirthDate" name="birthDate"
                               min="1950-01-01" max="2018-01-01" required value={{birthDate}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputWebsite">Website</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputWebsite" placeholder="Website URL" required
                               name="website" value={{website}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputFacebook">Facebook</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="inputFacebook" placeholder="Facebook URL" required
                               name="facebook" value={{facebook}}>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputPassword">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" required
                               name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Confirm Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password"
                               required name="repeatedPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>